html,
body {
	margin: 5%;
	color: #eee;
	background-color: #111;
	font-family: 'Consolas', monospace;
}

main {
	max-width: 400px;
}

li {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

a {
	color: #ccc;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #999;
}
