---
import Layout from '@/layouts/raw.astro'
import '@/styles/index.css'
---

<Layout>
	<p>looking for something?</p>
	<p>You should probably <a href="javascript:history.go(-1)">head back</a>.</p>
</Layout>
