---
import Layout from '@/layouts/raw.astro'
import '@/styles/index.css'
---

<Layout>
	<main>
		<h1>Hi</h1>
		<p>self-introduction</p>
		<h2>Links</h2>
		<ul>
			<li><a href="https://github.com/oo-x">Github</a></li>
			<li><a href="/notes">Notes</a></li>
		</ul>
	</main>
</Layout>
